# Python
__pycache__/
*.pyc
.venv/

# macOS
.DS_Store

# 学習済みモデル
*.pth
*.pt
*.onnx

# データセット・保存データ
archive/
dataset/
datasets/
data/

# 出力ファイル
output/
outputs/
runs/
wandb/
tmp/
experiments/

# Jupyter
.ipynb_checkpoints/