<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Judge</title>
</head>
<body>
    <h1>AI Judge</h1>
    <p>ようこそ！！AI画像判定アプリへ！！</p>
    <input type="file" id="imageInput" accept="image/*">
    <button type="button" id="judgeButton">判定する</button>
    <br>
        <br>
            <img id="previewImage" width="300">
        <br>
    <br>

    <p id="result">ここに結果が表示されます</p>
    <p>ヒートマップ</p>
    <img id="heatmapImage" width="300" style="display: none;">

    <script src="../static/javascript/script.js"></script>
</body>
</html>
